# MGI (Mouse Genome Informatics)

Downlaod dependencies

In [3]:
import numpy as np
import pandas as pd
import datetime
import sys

Data was downloded 04-2017

The data comes from a file on the MGI site (http://www.informatics.jax.org/) with the fallowing description:

"Genotypes and Mammalian Phenotype Annotations for Marker Type Genes excluding conditional mutations"

http://www.informatics.jax.org/downloads/reports/MGI_GenePheno.rpt

In [203]:
low_level_data = pd.read_table('http://www.informatics.jax.org/downloads/reports/MGI_GenePheno.rpt', header=None)

In [204]:
low_level_data.drop(7, axis=1, inplace=True) # drop blank column

In [205]:
low_level_data.head()

,0,1,2,3,4,5,6,8
0,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0000600,12529408,MGI:97874,MGI:2166359
1,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0001716,16449662,MGI:97874,MGI:2166359
2,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0001698,16449662,MGI:97874,MGI:2166359
3,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0001092,16449662,MGI:97874,MGI:2166359
4,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0000961,16449662,MGI:97874,MGI:2166359

In [206]:
low_level_data.shape

(201860, 8)

The following sets the names of the columns for the data as found in the description on the MGI website

In [ ]:
col = ['Allelic Composition','Allele Symbol(s)','Allele ID(s)','Genetic Background','Mammalian Phenotype ID','PubMed ID','MGI Marker Accession ID (comma-delimited)','MGI Genotype Accession ID (comma-delimited)']

In [208]:
low_level_data.columns = col

In [209]:
low_level_data.head()

,Allelic Composition,Allele Symbol(s),Allele ID(s),Genetic Background,Mammalian Phenotype ID,PubMed ID,MGI Marker Accession ID (comma-delimited),MGI Genotype Accession ID (comma-delimited)
0,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0000600,12529408,MGI:97874,MGI:2166359
1,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0001716,16449662,MGI:97874,MGI:2166359
2,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0001698,16449662,MGI:97874,MGI:2166359
3,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0001092,16449662,MGI:97874,MGI:2166359
4,Rb1<tm1Tyj>/Rb1<tm1Tyj>,Rb1<tm1Tyj>,MGI:1857242,involves: 129S2/SvPas,MP:0000961,16449662,MGI:97874,MGI:2166359

link to data used

In [ ]:
# Genotypes and Mammalian Phenotype Annotations for Marker Type Genes excluding conditional mutations (tab-delimited)
# http://www.informatics.jax.org/downloads/reports/MGI_GenePheno.rpt

link to data including mutations (not used in this analysis)

In [ ]:
# All Genotypes and Mammalian Phenotype Annotations (tab-delimited) 
# http://www.informatics.jax.org/downloads/reports/MGI_PhenoGenoMP.rpt

The following data coresponding to high level phenotypes is used to map gene names to thier human counterpart when applicable.

It is descripe on the website as:

"Mouse/Human Orthology with Phenotype Annotations"

The link to the file is:

http://www.informatics.jax.org/downloads/reports/HMD_HumanPhenotype.rpt

In [22]:
data = pd.read_table('http://www.informatics.jax.org/downloads/reports/HMD_HumanPhenotype.rpt', header=None)

In [23]:
data.head()

,0,1,2,3,4,5,6,7
0,A1BG,1,11167.0,yes,A1bg,MGI:2152878,NaN,NaN
1,A1CF,29974,16363.0,yes,A1cf,MGI:1917115,MP:0005387 MP:0005386 MP:0005388 MP:0005378 ...,NaN
2,A2M,2,37248.0,yes,A2m,MGI:2449119,MP:0002873,NaN
3,A3GALT2,127550,16326.0,yes,A3galt2,MGI:2685279,NaN,NaN
4,A4GALT,53947,9690.0,yes,A4galt,MGI:3512453,MP:0005386 MP:0010768 MP:0005376,NaN

In [210]:
mapping_to_gene = pd.read_table('http://www.informatics.jax.org/downloads/reports/MRK_GXDAssay.rpt', header=None)

In [211]:
mapping_to_gene.head()

             0         1                                                  2
0  MGI:1353431    Pcsk1n  MGI:5421241,MGI:2662712,MGI:3586139,MGI:482710...
1  MGI:1931526  Hist1h1c                MGI:4825375,MGI:5291705,MGI:3845788
2  MGI:2177151    Cd99l2  MGI:3806997,MGI:3806967,MGI:3806994,MGI:382859...
3  MGI:1916858    Sec24d                            MGI:4827936,MGI:5698498
4  MGI:1915444    Ndufb4                MGI:3691813,MGI:5423678,MGI:3691814

In [213]:
mapping_to_gene.set_index(0, inplace=True)

In [214]:
# used to fix data once (for some reason the data comes with two spaces before each name)
# # get rid of spaces infront of marker id in data
# lst = []
# for index in data.index:
#     lst.append(data.ix[index, 5].split(' ')[2])
# data[5] = lst

The following craets a datafram with three columns: gene symbol, mgi id, phenotype id

In [217]:
df = pd.DataFrame()

i = 0

for index in low_level_data.index:
    
    i += 1
    
    progress = (i/len(low_level_data.index))*100
        
    sys.stdout.write("Progress: %d%%   \r" % (progress))
    sys.stdout.flush()
    
    
    
    if len(low_level_data.ix[index, 'MGI Marker Accession ID (comma-delimited)'].split(',')) > 1:
        for mgi in low_level_data.ix[index, 'MGI Marker Accession ID (comma-delimited)'].split(','):
            if mgi in mapping_to_gene.index:
                lst = []
                lst.append(mapping_to_gene.ix[mgi, 1])
                lst.append(mgi)
                lst.append(low_level_data.ix[index, 'Mammalian Phenotype ID'])
                temp = pd.DataFrame(data=lst)
                df = pd.concat([df,temp.T])
    else:
        mgi = low_level_data.ix[index, 'MGI Marker Accession ID (comma-delimited)'].split(',')[0]
        if mgi in mapping_to_gene.index:
            lst = []
            lst.append(mapping_to_gene.ix[mgi, 1])
            lst.append(mgi)
            lst.append(low_level_data.ix[index, 'Mammalian Phenotype ID'])
            temp = pd.DataFrame(data=lst)
            df = pd.concat([df,temp.T])

In [218]:
df.head()

     0          1           2
0  Rb1  MGI:97874  MP:0000600
0  Rb1  MGI:97874  MP:0001716
0  Rb1  MGI:97874  MP:0001698
0  Rb1  MGI:97874  MP:0001092
0  Rb1  MGI:97874  MP:0000961

In [219]:
df.shape

(179604, 3)

In [220]:
df.drop_duplicates(inplace=True)

In [221]:
df.shape

(137349, 3)

In [223]:
df.reset_index(inplace=True) # used to get an index with number values

In [224]:
df.drop('index', axis=1,inplace=True)

In [225]:
df.shape

(137349, 3)

In [226]:
df.to_csv('data_04_25_17.txt', header=False, index=False) # saves the datafram we just created

In [227]:
df.set_index(0, inplace=True)

The following data was used to map phenotype ids to ther descriptions

It is described on the MGI website as:

"Mammalian Phenotype Vocabulary"

And the link to the file can be found here:

http://www.informatics.jax.org/downloads/reports/VOC_MammalianPhenotype.rpt

In [8]:
meta = pd.read_table('http://www.informatics.jax.org/downloads/reports/VOC_MammalianPhenotype.rpt', header=None)

In [9]:
meta.set_index(0, inplace=True)

In [230]:
attribute_set_lib = pd.DataFrame()

i = 0

for index in df.index.unique():
    
    i += 1
    
    progress = (i/len(df.index.unique())*100)
        
    sys.stdout.write("Progress: %d%%   \r" % (progress))
    sys.stdout.flush()
    
    lst = []
    #lst.append(data.ix[index, 'Human Marker Symbol'])
    lst.append(index)
    if type(df.ix[index, 1]) == str:
        lst.append(df.ix[index, 1])
    else:
        lst.append(df.ix[index, 1].values.tolist()[0])
    if type(df.ix[index, 2]) == str:
        lst.append(meta.ix[phe, 1])
    else:
        for phe in df.ix[index, 2]:
            lst.append(meta.ix[phe, 1])
    temp = pd.DataFrame(data=lst)
    attribute_set_lib = pd.concat([attribute_set_lib, temp.T])

In [231]:
attribute_set_lib.replace(np.nan, ' ', inplace=True)

In [232]:
attribute_set_lib.set_index(0, inplace=True)

In [233]:
attribute_set_lib.reset_index(inplace=True)

In [234]:
i = 0


for index in attribute_set_lib.index:
    i += 1
    for ind in data.index:  
        if attribute_set_lib.ix[index, 0] == data.ix[ind, 4]:
            attribute_set_lib.ix[index, 0] = data.ix[ind, 0]
            
    progress = (i/len(attribute_set_lib.index))*100

    sys.stdout.write("Progress: %f%%   \r" % (progress))
    sys.stdout.flush()

In [235]:
attribute_set_lib.set_index(0, inplace=True)

In [236]:
attribute_set_lib.sort_index(inplace=True)

In [237]:
attribute_set_lib.shape

(8237, 260)

In [238]:
filename = 'mgi_attribute_set_lib_%s.tsv'% str(datetime.date.today()).replace('-', '_')
attribute_set_lib.to_csv(filename, sep='\t', header=False)

In [239]:
#df.ix[index, 1].values.tolist()[0]

In [240]:
attribute_set_lib.head()

,1,2,3,4,5,6,7,8,9,10,...,251,252,253,254,255,256,257,258,259,260
0,,,,,,,,,,,,,,,,,,,,,
2210010C04Rik,MGI:1914623,abnormal lumbar vertebrae morphology,decreased threshold for auditory brainstem res...,,,,,,,,...,,,,,,,,,,
A1CF,MGI:1917115,decreased cell proliferation,"embryonic lethality before implantation, compl...",decreased cardiac muscle contractility,abnormal myocardium layer morphology,dilated cardiomyopathy,,,,,...,,,,,,,,,,
A2M,MGI:2449119,impaired febrile response,,,,,,,,,...,,,,,,,,,,
A4GALT,MGI:3512453,decreased physiological sensitivity to xenobiotic,impaired behavioral response to xenobiotic,decreased sensitivity to xenobiotic induced mo...,,,,,,,...,,,,,,,,,,
A4GNT,MGI:2143261,abnormal digestive system physiology,increased cell proliferation,stomach inflammation,stomach epithelial hyperplasia,increased angiogenesis,increased tumor growth/size,increased gastric adenocarcinoma incidence,abnormal stomach mucosa morphology,,...,,,,,,,,,,

## GMT File

In [4]:
df = pd.read_csv('data_04_25_17.txt', header=None)

In [7]:
df.head()

              0          1
2
MP:0000600  Rb1  MGI:97874
MP:0001716  Rb1  MGI:97874
MP:0001698  Rb1  MGI:97874
MP:0001092  Rb1  MGI:97874
MP:0000961  Rb1  MGI:97874

In [6]:
df.set_index(2, inplace=True)

In [24]:
data.set_index(4, inplace=True)

In [25]:
data.head()

,0,1,2,3,5,6,7
4,,,,,,,
A1bg,A1BG,1,11167.0,yes,MGI:2152878,NaN,NaN
A1cf,A1CF,29974,16363.0,yes,MGI:1917115,MP:0005387 MP:0005386 MP:0005388 MP:0005378 ...,NaN
A2m,A2M,2,37248.0,yes,MGI:2449119,MP:0002873,NaN
A3galt2,A3GALT2,127550,16326.0,yes,MGI:2685279,NaN,NaN
A4galt,A4GALT,53947,9690.0,yes,MGI:3512453,MP:0005386 MP:0010768 MP:0005376,NaN

In [69]:
MGI_Mammalian_Phenotype = pd.DataFrame()

i = 0

for index in df.index.unique():
    

    
    lst = []
    #lst.append(data.ix[index, 'Human Marker Symbol'])
    lst.append(str(index)+'_'+str(meta.ix[index,1]))
     
    
    if type(df.ix[index, 0]) == str:
        if gene in data.index:
            lst.append(data.ix[gene, 0])
        else:
            lst.append(gene)
    else:    
        for gene in df.ix[index, 0]:
            if gene in data.index:
                if type(data.ix[gene, 0]) == str:
                    lst.append(data.ix[gene, 0])
                else:
                    lst.append(data.ix[gene, 0].values.tolist()[0])
            else:
                lst.append(gene)
    


    if len(lst) >= 5:
        temp = pd.DataFrame(data=lst)
        MGI_Mammalian_Phenotype = pd.concat([MGI_Mammalian_Phenotype, temp.T])
    
    i += 1
    
    progress = (i/len(df.index.unique())*100)
        
    sys.stdout.write("Progress: %d%%   \r" % (progress))
    sys.stdout.flush()

In [59]:
#df.ix[index, 0]

In [44]:
#df.index.unique()[0:3]

In [56]:
#MGI_Mammalian_Phenotype.replace(np.nan, ' ', inplace=True)

In [71]:
filename = 'MGI_Mammalian_Phenotype_%s.gmt'% str(datetime.date.today()).replace('-', '_')
MGI_Mammalian_Phenotype.to_csv(filename, sep='\t', header=False, index=False)

In [45]:
MGI_Mammalian_Phenotype.head()

,0,1,2,3,4,5,6,7,8,9,...,464,465,466,467,468,469,470,471,472,473
0,MP:0000600_liver hypoplasia,RB1,HGF,TSC2,NF1,LHX2,SPTBN1,SP3,SPEN,IKZF1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,MP:0001716_abnormal placenta labyrinth morphology,RB1,HSP90AB1,PPARG,NOTCH2,CDKN1C,EGFR,DLX3,ADM,GAB1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,MP:0001698_decreased embryo size,RB1,OTX2,ESRRB,ZFPM1,KDR,PTK2,HAND2,VCAM1,FN1,...,LONP1,BMP10,CHD1,LETM1,KATNB1,ATP2A2,KDM2B,EMG1,SEC23A,UFL1

In [32]:
MGI_Mammalian_Phenotype.shape

(8523, 1677)